@import url(bootstrap.css);

h1 {font-size:80px;}

body {background-image:url"https://f.cloud.github.com/assets/5040624/857945/3296a074-f55c-11e2-89ff-de3b6bbdb7a0.jpg";}

h1 {color:White;}

h2 {color:White;}

p {color:White;}

p {font-size:20px;}

h2 {font-size:40px;}

.container {
         background-color: Orange;
}

h3 {
   color:White;
}

